.container {
    background-color: #f2f2f2;
    border: 1px solid #333;
    border-radius: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    width: auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titolo {
    background-color: #006400;
    color: white;
    font-size: 36px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input[type="text"], select, input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.3s ease;
    width: 350px;
}

input[type="text"]:hover, select:hover, input[type="date"]:hover {
    box-shadow: 0 0 11px #ccc;
}

input[type="text"]:focus, select:focus, input[type="date"]:focus {
    background-color: #f2f2f2;
    border-color: #006400;
    box-shadow: 0 0 11px #006400;
    outline: none;
}

#inserisciDatiBtn {
    background-color: #006400;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

#inserisciDatiBtn:hover {
    box-shadow: 0 0 11px #006400;
}

#inserisciDatiBtn:active {
    background-color: #004400;
    box-shadow: none;
}

#inserisciDatiBtn:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#sesso {
    width: 360px;
    height: 40px;
}

.output{
    margin-top: 40px;
    font-weight: bolder;
    font-size: 24px;
}